<app-title [title]="'Membership Application'"></app-title>
<div class="container">
  <div class="row">
    <div class="col-md-8" style="text-align: justify">
      <h3>Membership Types</h3>
      <ol>
        <li>
          <strong>Life Membership:</strong> Rs.5000/-</li>
        <li>
          <strong>Associate Membership:</strong> Rs.3000/-</li>
        <li>
          <strong>Student Membership:</strong> Rs.1000/- per year</li>
        <li>
          <strong>Annual Membership:</strong> Rs.1000/- per year</li>
      </ol>
      <p>Membership/Registration Form must be duly filled along with a photograph and Degree Certificate and membership fee
        is payable by Cash / Cheque / DD or payment gateway. If paid by cheque/DD, it should be drawn in favour of ChBv.
        Alumni Association” and sent to the following address :</p>
      <p style="padding-left: 30px;">The Hon. General Secretary
        <br /> ChBv. Alumni Association
        <br /> Chandernagore Banga Vidyalaya
        <br /> Chandernagore-712136
        <br /> Tel : 03300000000 / 9876543210</p>
      <p>Award of PRAKTANI Membership is subject to verification with the admin records of ChBV.</p>
      <h3>Online Registration</h3>

      <a routerLink="/register/" class="btn btn-primary" style="border-radius:3px;" >Register now!!</a>

      <p>&nbsp;</p>
    </div>
  </div>
</div>