.event-container{
    background-color: #fff;
    color: #35373a;
    min-height: 100vh;
    border-radius: 20px;
    padding: 20px;
    margin: 40px 10px 40px 20px;
}
h1{
    text-align: center;
    font-family: 'Droid Sans', sans-serif;
    font-weight: bold;
}