<div class="event-container">
  <div class="row">
    <div class="col-xs-6">
      <h1 routerLink="/event" style="cursor:pointer">Events</h1>

    </div>
    <div class="col-xs-6">
      <!-- <a>Show all Events</a> -->
    </div>
  </div>
  <hr/>
  <div class="row">
    <div class="col-md-4 col-sm-6 col-xs-12">
      <app-event-card [event]="event1" [slideNo]="1" (nextSlideEvent)="nextSlide($event)" [isLeftHidden]="false" (mouseenter)="onMouseEnter()"
        (mouseleave)="onMouseLeave()"></app-event-card>
    </div>
    <div class="col-md-4 col-sm-6 col-xs-12">
      <app-event-card [event]="event2" [slideNo]="2" (nextSlideEvent)="nextSlide($event)" (mouseenter)="onMouseEnter()" (mouseleave)="onMouseLeave()"></app-event-card>
    </div>
    <div class="col-md-4 col-sm-6 col-xs-12" id="last-column">
      <app-event-card [event]="event3" [slideNo]="3" (nextSlideEvent)="nextSlide($event)" [isRightHidden]="false" (mouseenter)="onMouseEnter()"
        (mouseleave)="onMouseLeave()"></app-event-card>
    </div>
  </div>
</div>