<div class="event-container">

  <h1> Events</h1>

  <div class="row ">
    <!-- <div class="arrow">
      <i class="fa fa-angle-left pull-left" (click)="changeEvent(false)"></i>
    </div> -->
    <div class="col-md-3 event">
      <app-event-card [event]="event1" (mouseenter)="onMouseEnter()" (mouseleave)="onMouseLeave()" routerLink="event/1"></app-event-card>
    </div>
    <div class="col-md-3 event">
      <app-event-card [event]="event2" (mouseenter)="onMouseEnter()" (mouseleave)="onMouseLeave()"></app-event-card>
    </div>
    <div class="col-md-3 event">
      <app-event-card [event]="event1" (mouseenter)="onMouseEnter()" (mouseleave)="onMouseLeave()"></app-event-card>
    </div>
    <div class="col-md-3 event">
      <app-event-card [event]="event2" (mouseenter)="onMouseEnter()" (mouseleave)="onMouseLeave()"></app-event-card>
    </div>
    <!-- <div class="arrow">
        <i class="fa fa-angle-right pull-left" style="font-size:60px;color:lightgray;" (click)="changeEvent(true)"></i>
    </div> -->
  </div>
</div>