// .event-container{
//    // background-color: rgba(39, 26, 95, 0.349);
//     color: #35373a;
//    // min-height: 100vh;
//     //border-radius: 20px;
//     padding: 20px;
//     margin: 20px 20px 20px 0px;
// }


h1{
    //text-align: center;
    //font-family: 'Droid Sans', sans-serif;
    font-weight: 500;
    font-size: 30px;
    color: black;
    padding-left: 20px;
    //float: left;
}


.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    :hover{
        background-color: rgb(0, 0, 0);
    }
}
.prev:hover, .next:hover {
    background-color: rgba(255, 255, 255, 0.8);
  }
.next{
    border-radius:  3px 0 0 3px;
    right: 0;
}


@media screen and (max-width: 767px) {
    #last-column {
        display: none;
    }
}