.event-container{
   // background-color: rgb(255, 255, 255);
    color: #35373a;
    min-height: 100vh;
    border-radius: 20px;
    padding: 20px;
    margin: 20px 5px 20px 10px;

    .arrow{
        i{
            font-size:60px;
            color:lightgray;
            margin-top:18%;
        }
    }
}

.event-div {
    text-align:center;
    i{
        text-align:center;
    };
}

h1{
    text-align: center;
    font-family: 'Droid Sans', sans-serif;
    font-weight: bold;
}
