.navbar-brand{
    font-size: 20px;
}
.dropdown{
    cursor: pointer ;
    .dropdown-menu{
        background-color: #160846;
        .dropdown-item{
            color: silver;
        
        };
        a:hover{
        background-color: silver;
        color:#160846;   
        };
        a:focus{
            background-color: silver;
            color:#160846;   
        }
    }
}