<nav class="navbar navbar-expand-lg navbar-dark  fixed-top" style="background-color: #160846;">
	<div class="navbar-header">
		<a routerLink="/" class="navbar-brand">প্রাক্তনী</a>

	</div>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler"
	 aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbarToggler">
		<ul class="navbar-nav mr-auto mt-2 mt-lg-0">

			<li class="nav-item dropdown ">
				<a class="nav-link dropdown-toggle" data-toggle="dropdown">
					About
				</a>
				<ul class="dropdown-menu" role="menu">
					<a class="dropdown-item" routerLink="#">Overview</a>
					<li class="divider dropdown-divider"></li>
					<a class="dropdown-item" routerLink="#">Vission & Mission</a>
					<li class="divider dropdown-divider"></li>
					<a class="dropdown-item" routerLink="#">Objective</a>
					<li class="divider dropdown-divider"></li>
					<a class="dropdown-item" routerLink="#">Executive Council</a>
					<li class="divider dropdown-divider"></li>
					<a class="dropdown-item" routerLink="/about/contact">Contact US</a>
				</ul>

			</li>
			<li class="nav-item dropdown ">
				<a class="nav-link dropdown-toggle" data-toggle="dropdown">
					Membership
				</a>
				<ul class="dropdown-menu" role="menu">
					<a class="dropdown-item" routerLink="membership/rb">Responsibilities & Benefits</a>
					<li class="divider dropdown-divider"></li>
					<a class="dropdown-item" routerLink="membership/ma">Membership Application</a>
					<li class="divider dropdown-divider"></li>
					<a class="dropdown-item" routerLink="membership/cm">Call for Membership</a>
				</ul>

			</li>

			<li class="nav-item" routerLinkActive="active">
				<a class="nav-link" routerLink="/#">Gallery</a>
			</li>

			<li class="nav-item" routerLinkActive="active">
				<a class="nav-link" routerLink="/#">Reunion</a>
			</li>
			<li class="nav-item" routerLinkActive="active">
				<a class="nav-link" routerLink="/#">Donation</a>
			</li>
		</ul>
		<form class="form-inline my-2 my-lg-0">
			<div class="input-group ">
				<input type="text" class="form-control" placeholder="Search..." aria-label="Search..." aria-describedby="basic-addon2">
				<div class="input-group-append">
					<span class="input-group-text" id="basic-addon2">
						<i class="fa fa-search"></i>
					</span>
				</div>
			</div>
		</form>
		<ul class="navbar-nav mr-left mt-2 mt-lg-0">
			
			<li class="nav-item dropdown " [class.active]="isLoggedIn">
				<a class="nav-link dropdown-toggle" data-toggle="dropdown">
					<i class="fa fa-user-circle" style="font-size:36px"></i>
				</a>
				<ul class="dropdown-menu dropdown-menu-right"  role="menu">
					<a class="dropdown-item" routerLink="#" [hidden]="!isLoggedIn">Profile</a>
					<li class="divider dropdown-divider" [hidden]="!isLoggedIn"></li>
					<a class="dropdown-item" [hidden]="!isLoggedIn">Sign Out</a>
					<a class="dropdown-item" [hidden]="isLoggedIn">Sign In</a>
				</ul>

			</li>
		</ul>

	</div>



</nav>