<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-12">
        <h4>Useful Links</h4>
        <p>
          <a routerLink="">Home</a>
          <br>
          <a routerLink="gallery">Gallery</a>
          <br>
          <a routerLink="events">Events</a>
          <br>
          <a routerLink="register/">Register</a>
          <br>
          <a routerLink="about/contact">Contact us</a>
        </p>
      </div>
      <div class="col-md-4 col-sm-12">
        <h4>Help</h4>
        <p>
          <a routerLink="faq">FAQ</a>
          <br>
          <a  routerLink="feedback">Feedback</a>
          <br>
          <a routerLink="rules-regulations">Rules &amp; Regulations</a>
          <br>
          <a routerLink="sitemap">Sitemap</a>
          <br>
          <a routerLink="privacy-policy">Privacy Policy, Terms of use</a>
        </p>
      </div>
      <div class="col-md-4 col-sm-12">
        <h4 routerLink="about/contact">Contact to Us</h4>
        <p>
          <a>Chandernagore Banga Vidyalaya</a>
          <br>
          <a>Chandernagore , Hooghly</a>
          <br>
          <a>Kolkata - 712136</a>
          <br>
          <a href="tel:9078087343">
            <i class="fa fa-phone"></i> 033-2345-6789</a>
          <br>
          <a href="mailto:19pritamghosh93@gmail.com" target="_blank" rel="noopener">
            <i class="fa fa-envelope"></i> 19pritamghosh93@gmail.com</a>
            <br>
            <a href="fb-messenger://share/?link= https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fsharing%2Freference%2Fsend-dialog&app_id=233608283854580"
            class="fa fa-facebook"></a>
          <a href="#" class="fa fa-twitter"></a>
          <a href="#" class="fa fa-google-plus"></a>
        </p>
      </div>
    </div>
  </div>
  <hr/>
  <div class="copyright container">
    <a>
        <i class="fa fa-copyright"></i> Copyright Praktani. All Rights Reserved.								
    </a>
  </div>
</div>