.footer{
background-color: #20114e;
color:silver;
    .row{
        padding-top:5px;
        h4{
            font-weight: 400;
            font-size: 20px;
        }
        p{
            line-height: 1;
        }
    }
    
}
a{
    color: silver;
    font-size: 12px;
}
.copyright{
     padding-bottom: 10px;
     text-align: right;
     opacity: 0.7;
     a{
        color: silver;
        font-size: 12px;
    }
     //background-color: #170941;
 }