<div class="evt-card" (click)="onEventClick()">
  <div class="card-container">
    <a>
      <img [src]="event.thumbImgPath" alt=" {{ event.title}} " >
      <a class="prev" (click)="nextSlide(false)" #left (mouseenter)="mouseOvered=true" (mouseleave)="mouseOvered=false" [hidden]=isLeftHidden>&#10094;</a>
      <a class="next" (click)="nextSlide(true)" #right (mouseenter)="mouseOvered=true" (mouseleave)="mouseOvered=false" [hidden]=isRightHidden>&#10095;</a>
    </a>
  </div>
  <div class="detail">
    <div class="evt-info">
      <div class="evt-info-col">
        <a id="title">
          <strong>{{ event.title}}</strong>
        </a>
        <div class="location">
          <a>{{event.venue}}</a>
        </div>
        <div class="date">
          <span content="2018-04-28 04:45:00"><i class="fa fa-calendar-o"></i> {{event.startDate | date: 'mediumDate'}}</span>
        </div>
      </div>
    </div>
  </div>
</div>