<div class="outerContainer" (window:resize)="onResize($event)" *ngIf="showViewer" [@showViewerTransition]="showViewer">

    <img [ngClass]="{'activeArrow': leftArrowActive}" class="arrow left" src="assets/images/leftArrow.svg"
         [hidden]="!leftArrowVisible" (click)="navigate(-1)"/>
     
         <img [ngClass]="{'activeArrow': rightArrowActive}" class="arrow right" src="assets/images/rightArrow.svg"
         [hidden]="!rightArrowVisible" (click)="navigate(1)"/>
   
    <div class="buttonContainer">
        <img class="action close" src="assets/images/close.svg" (click)="closeViewer()"/>
    </div>

    <div class="imageContainer"
         (click)="showNavigationArrows()"
         >
        <div *ngFor='let img of images; let j = index'
             class="image"
             [class.active]="img.active"
             [@imageTransition]="img.transition"
             [style.background-image]="img['viewerImageLoaded'] ? 'url('+img.imgPath+')' : ''"
             [style.left]="transform+'px'">

        </div>
        <img *ngFor='let img of images; let j = index'
             class="preloading-image"
             (load)="imageLoaded(img)"
             (swipeleft)="navigate(1, $event)"
         (swiperight)="navigate(-1, $event)"
             [src]="img.imgPath" alt="gg"/>
    </div>
</div>
