
.thumb-card{
    text-align: left;
    width: 100%;
    position: relative;
    //min-height: 350px;
    background-color: #fff;
    margin: 5px;
    cursor: pointer;
    .card-container{
        transition: all .5s ease;
        //height: 200px;
        //width: 250px;
        //width: 100%;
        position: relative;
        background-size: cover!important;
        background-position: center;
        overflow: hidden;
        img{
            width:100%;
        }
    };
    .detail{
        transition: all .5s ease;
        position: relative;
        //height: 195px!important;
        overflow: hidden;
        background: #fff;
        .thumb-info{
            padding: 10px 0;
            overflow: hidden;
            .thumb-info-col{
                width: 75%;
                float: left;
                padding: 5px 15px;
                    a{
                        padding: 0;
                        font-size: 100%;
                        text-decoration: none;
                        vertical-align: baseline;
                        background: 0 0;
                    };
                    #title{
                        font-size: 14px;
                        color: #333;
                        margin: 0;
                    }
                .description {
                    min-height: 30px;
                    padding: 0;
                    line-height: 14px;
                    margin-bottom: 4px;
                    font-size: 10px;    
                };
                .date{
                    span{
                        font-size: 10px;
                    }
                }
            }
        }
    };
    
    p{
        display: block;
        -webkit-margin-before: 1em;
        -webkit-margin-after: 1em;
        -webkit-margin-start: 0px;
        -webkit-margin-end: 0px;
    }
    
}
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    :hover{
        background-color: rgb(0, 0, 0);
    }
}
.prev:hover, .next:hover {
    background-color: rgba(255, 255, 255, 0.8);
  }
.next{
    border-radius:  3px 0 0 3px;
    right: 0;
}