<app-title [title]="'Call for Membership'"></app-title>
<div class="container">
  <div class="row">
    <div class="col-md-8" style="text-align: justify">
        <p>PRAKTANI has grown over the years to its present status with the active help,   co-operation and engagement of its distinguished alumni.</p>
        <p><strong>A big thanks to all of you for making this possible.</strong></p>
        <p>Today, we have a Registered Membership of around 10,000 out of a possible 25,000 pass-outs.  We require to create a “<strong>Master Alumni Database”</strong> of all the students graduated over the last 40-50 years.  The PRAKTANI is actively pursuing a massive <strong>membership drive</strong> to double its registered strength.</p>
        <p>We firmly believe that it is a <strong>win-win situation</strong> once you decide to contribute and engage with alumni affairs.</p>
        <p><strong>The basic issue </strong>is that we are missing out on the <strong>contact details</strong> of a large number of alumni who are unable to register for Life Membership due to this <strong>disconnect.<br />
        </strong></p>
        <p>The advantages of having all alumni enrolled are numerous, particularly, in matters relating to :</p>
        <ol>
        <li><strong>Student-centric</strong> affairs viz., Placement, Internship, Mentorship, Entrepreneurship, Industry related projects, Admission to R&amp;D Organisations and Universities etc.</li>
        <li><strong>Identification</strong> of Experts, Top-notch Professionals, Top-MNCs, Industries and R&amp;D related Industries.</li>
        </ol>
        <p>You all will be of immense help and value when we engage and interact on a continuous basis.  It is in this context, that the PRAKTANI Committee strongly feels to connect to all of you.  We shall be grateful if you could help :</p>
        <ol>
        <li><strong>By enrolling</strong> as Alumni Association Members</li>
        <li><strong>By providing</strong> contact details viz., Mail ID, Address, Telephone Number, Location and Membership Status of your Batchmates from your Department and persuading them also to become alumni members on our behalf.</li>
        </ol>
        <p>Our strength and activities centre around interaction amongst  &#8211;  <strong><u>Student, Alumni, Departments – Interface</u></strong>.  We shall then connect all stake holders and act as facilitators.</p>
        <p><strong>So Friends, can we appeal to you to :</strong></p>
        <ol>
        <li><strong>Become registered Alumni Association Members</strong></li>
        <li><strong>Share with us contact details of your Batchmates</strong></li>
        <li><strong>Tell us how you would like to participate in Alumni Activities</strong></li>
        </ol>
        <p><strong>We request your help to serve you better.</strong></p>
        <p><a href="membership/ma">Click here</a> for membership details.</p>
        <p>We eagerly look forward to your kind action.</p>
        <p>Regards,</p>
        <p>Mr. A. B. ROY<br />
        General Secretary<br />
        ChBV. Alumni Association</p>

      <p>&nbsp;</p>
    </div>
  </div>
</div>