<app-title [title]="'Member Responsibilities & Benefits'"></app-title>
<div class="container">
  <div class="row">
    <div class="col-md-8" style="text-align: justify">

      <h3>Responsibilities</h3>
      <ol>
        <li>Work towards ensuring that 100% of ChBV Alumni become members of the Association.</li>
        <li>Enlist their support for addressing the requirements of ChBV and Alumni members for mutual cooperation. This can
          be done by submitting their brief CVs indicating areas of expertise, and how they would like to engage with ChBV
          AA.</li>
      </ol>
      <h3>Benefits</h3>
      <ol>
        <li>Apart from routine benefits such as access to ChBV library, invitations for various network activities of the Association
          you can be part of several new initiatives ChBV is taking to make a definitive impact on the society near and far.</li>
        <li>Meet with your friends from your class and otherwise and get access to their networks that may be useful for your
          business or professional career.</li>
        <li>Receive regular updates through the Newsletters brought out by ChBV AA.</li>
      </ol>
      <p>&nbsp;</p>
    </div>
  </div>
</div>