.event-banner{
    position: relative;
    zoom: 1;
    z-index: 1;
    overflow: hidden;
    height: 380px;
    background: #f2f2f2;
    text-align: center;
      
}
.content{
    padding: 15px;
    .description,.date-time, .location,.share{
        text-align: justify;
        h1{
            font-size: 18px;
            font-weight: bold;
            text-transform: uppercase;
        }
        a{
            font-size: 12px;
            line-height: 17px;
            margin-bottom: 30px;
        }
        .social-links{
            a{
                font-size: 20px;
                padding: 5px;
                
                .fa{
                    border-radius: 50%;
                    padding: 20px;
                    font-size: 30px;
                    width: 50px;
                    text-align: center;
                    text-decoration: none;
                    margin: 5px 2px;
                    .fa-facebook{
                        background: #3B5998;
                        color: white;
                    }
                }
            }
        }
    }
    .side-pane{
        padding-left: 20px;
        .btn{
            margin-top: 5px;
            margin-bottom: 5px;
            background-color: lightseagreen;
        }
    }
}