.container-fluid {
     background-color: rgb(190, 196, 192);
     margin-top:69px;
     padding: 0;
     bottom: 0;
     //margin-bottom: 20px;

}

@media only screen and (max-width: 992px) {
    .container-fluid {
        background-color: rgb(190, 196, 192);
        margin-top:56px;
        padding: 0;
        bottom: 0;
        //margin-bottom: 20px;
   
   }
}