.event{
    background-color: rgba(103, 214, 145, 0.212);
    border-radius: 4px;
    min-height: 150px;
    cursor: pointer;
    
    margin: 5%;
    img{
        height: 140px;
        margin: 5px;
        border-radius: 4px;
    }
    div{
        margin: 5px;
    }
    :hover{
        background-color: rgba(192, 108, 75, 0.212);
    }

}