.display-container{
      // background-color: rgba(39, 26, 95, 0.349);
      color: #35373a;
      // min-height: 100vh;
       //border-radius: 20px;
       padding: 20px;
       margin: 20px 20px 20px 0px;
}
