Label{
    padding-top:5px;
}
.gender{
        padding-top:5px;
}
.registrationForm{
    margin-bottom: 10px;
}
input[type=checkbox] {
    transform: scale(1.25);
  }

input.ng-touched.ng-invalid{
            border: 1px solid red;
}

input.ng-touched.ng-valid{
    border: 1px solid green;
}

.required:after {
    content:" *";
    color:red;
 }

 button{
      width: 100px;
 }
 button[type=reset] {
    color: #fff;
    background-color: #53755b;
    border-color: #53755b;
 }

